<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">

    <title>Message DashBoard</title>
</head>

<body>
    <%- JSON.stringify(messages) %>
    <!-- based on the structure of your messages, determine how to display them -->
    <% if(messages.message) { %>
    <p>here we displaying the error message</p>
    <% for (var x of messages.message) { %>
    <h3>
        <%= x %>
    </h3>
    <% } %>
    <% } %>
    <div class="container">
    

        <h1>Dodjo Message Board</h1>
        <hr>
        <div>
            <form action="/postmessage" method="POST">
                <div class="form-group">
                    <label for="formGroupExampleInput">Name</label>
                    <input type="text" class="form-control" id="formGroupExampleInput" name="name">
                </div>
                <div class="form-group">
                    <label for="formGroupExampleInput2">Message</label>
                    <input type="text" class="form-control" id="formGroupExampleInput2" name="content">
                </div>
                <button type="submit" class="btn btn-primary">Post message</button>
            </form>
    
        </div>
        <p>
    
        </p>
        <h1>All Message Here</h1>
        <%=user_post%>
        <% for (var x in user_post) { %>
        <div>
            Name:
            <%=user_post[x].name %>
            <%=user_post[x].id %>
            <br>
            Message :
            <%= user_post[x].content %>
            <form action="/commentmessage/<%=user_post[x].id%>" method="POST">
                <div class="form-group">
                    <label for="formGroupExampleInput">Name</label>
                    <input type="text" class="form-control" id="formGroupExampleInput" name="name">
                </div>
                <div class="form-group">
                    <label for="formGroupExampleInput2">Comment</label>
                    <input type="text" class="form-control" id="formGroupExampleInput2" name="content">
                </div>
                <button type="submit" class="btn btn-primary">Post Comment</button>
            </form>
    
        </div>
    
        <% } %>
    </div>
</body>

</html>